.header {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.header a {
  text-decoration: none;
  display: inline;
  color: goldenrod;
  padding: 5px;
  background-color: wheat;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
}

.container {
  padding: 0 0.5rem;
}
